@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Ubuntu&display=swap');

*{margin:0; padding: 0; outline: none;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    background-color:#efb7b7;
}

/* Header */
.header{
    display: flex;
    overflow-x: auto;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color:#bd4b4b;
    font-weight: 700;
    
}

.header p{
    margin-right: 15px;
    
}

.navbar{
    display: flex;
    
}

.navbar a{
    color:#000;
    text-decoration: none;
    margin-right: 15px;
}

.headerText{
    padding: 2px;
}
.navbar a:hover{
    background-color: rgba(221, 50, 64, 0.76);
    color: antiquewhite;
    border-radius: 5px;
}

/* Main */

.main{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.skill{width: 50%; float: left;}
.cert{width: 50%; float: right;}

.slider{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}

.slider img{
    width: 160px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(29, 28, 26), -1px -1px 5px rgb(212, 211, 209);
}

.skills img{
    width: 100px;
    display: flex;
    align-items: center;
}

.projects{
    width: 100%;

}

iframe{
    width: 49.5%;
    height: 300px;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px;
}

.footer{
    text-align: center;
    background-color: black;
    
}

.footer a{
    text-decoration: none;
}

.footer i{
    font-size: 36px;
    padding: 5px;
    color: blanchedalmond;
}
@media only screen and (max-width:600px){
    .header p{
        width: 33%;
    }
    
    .navbar{
        width: 66%;
    }

    .navbar a{
        width: 48%;
    }

    .skill, .cert, iframe{
        width: 100%;
    }
}
